.small {
	font-size: 7pt;
}

.pointer { 
	cursor: hand;
}

#filter-header {
	width: 100%;
	margin: 9px 0;
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom-style:solid;
	border-bottom-width: 1px;
	border-bottom-color: gray;
}
