/*!
 * Timepicker for Bootstrap
 *
 * Copyright 2012 Joris de Wit, Stefan Petre, Andrew Rowls
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0 
 *
 */.bootstrap-timepicker.dropdown-menu{top:0;left:0;padding:4px;margin-top:1px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;display:none}.bootstrap-timepicker.dropdown-menu.open{display:inline-block}.bootstrap-timepicker.dropdown-menu:before{content:'';border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #ccc;border-bottom-color:rgba(0,0,0,0.2);position:absolute;top:-7px;left:6px}.bootstrap-timepicker.dropdown-menu:after{content:'';border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #fff;position:absolute;top:-6px;left:7px}.bootstrap-timepicker.modal{top:30%;margin-top:0;width:200px;margin-left:-100px}.bootstrap-timepicker.modal .modal-content{padding:0}.bootstrap-timepicker table{width:100%;margin:0}.bootstrap-timepicker td,.bootstrap-timepicker th{text-align:center;height:20px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.bootstrap-timepicker td.separator{width:1px}.bootstrap-timepicker td a{border:1px transparent solid;display:block;margin:4px;padding:4px 0}.bootstrap-timepicker td a:hover{background-color:#eee;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;border-color:#ddd}